doctype html 
html 
    head 
        title Jayam Dance Academy 
        block scripts
        block style 
    body 
        nav#navbar  
            ul 
                div.logo
                    img(src="../static/img/logo 5.png")
                    p JDA
                li #[a(href='/') Home]
                li #[a(href='/') About Us ]
                li #[a(href='/') Services ]
                li #[a(href='/contact') Contact Us  ] 
        block content
        footer#footer  
            | Copyright&copy; 2022 www.jayamdanceacademy.com | All Rights Reserved. 